@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.dark-mode,
.light-mode {
  min-height: 100vh;
}

.dark-mode {
  background-color: #343a40;
}

.light-mode {
  filter: invert(1) hue-rotate(180deg);
  color: #2b2b2b;
}

.light-mode .stay {
  filter: invert(1) hue-rotate(180deg);
}

.headerUmb {
  background-color: #1c1c1d;
  letter-spacing: 3px;
  border-bottom: 4px solid black;
  position: relative;
}

.togglerPosition {
  position: absolute;
  top: 30%;
  left: 30px;
}

@media (max-width: 1059px) {
  .togglerPosition {
    position: relative;
  }
}

.formWrapper {
  background-color: #1c1c1d;
  border-radius: 40px;
}

.cityList ul {
  border-top: solid 2px rgb(167, 164, 164);
  padding: 0;
  list-style: none;
  text-align: center;
}

.cityList li {
  padding: 12px 0px;
  border-bottom: 2px rgb(167, 164, 164) solid;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(167, 164, 164);
}
.cityList li:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s ease;
  color: white;
  border: white 2px solid;
  background-color: rgba(255, 255, 255, 0.219);
  font-weight: bold;
}

.weatherContent {
  background-color: #1c1c1d;
  color: white;
  min-height: 90vh;
}

.userBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  .userBox {
    position: relative;
  }
}

.showTemp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mBody {
  position: absolute;
  background-color: #000000c5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.SingUP h6:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

i:hover {
  cursor: pointer;
}

.loader {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 60px;
  width: 60px;
  animation: spin infinite linear 1.3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.themeToggle:hover {
  cursor: pointer;
}

.editOrDeleteBox {
  position: absolute;
  background: whitesmoke;
  color: rgb(162, 161, 161);
  text-align: left;
  top: -90px;
  right: 0px;
  left: -80px;
  border-radius: 5px;
}

.editOrDeleteBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.editOrDeleteBox li {
  padding: 10px;
}

.editOrDeleteBox li:hover {
  cursor: pointer;
  background-color: rgb(223, 222, 222);
  border-radius: 5px;
  color: #2b2b2b;
}
